<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <base href="/">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1><a href="/">Games Inventory</a></h1>
    </div>
    <main>
        <div class="sidebar">
            <h2>Categories</h2>
            <div class="categories">
                <% categories.map(categ => { %>
                    <form action="categories/<%= categ.id %>">
                        <button><%= categ.name %></button>
                    </form>
                    <% }) %>
            </div> 
        </div>
        <div class="main category-form">
            <form action="/categories/new" method="POST" class="game-form">
                <div>
                    <label for="category-name">Category Name</label>
                    <input type="text" name="category" id="category-name" required minlength="3">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>